.head1{
text-align: center;
margin-top: 250px;

}
.paragraf1{
    text-align: center;
  margin-left: 30px;
    font-size: 1.3rem;
}

.paragraf2{
    text-align: center;
    
font-size: 1.3rem;
}
.link1{
    margin-left: 610px;
    border-radius: 5px;
     padding: 10px;
text-decoration: none;
border: none;
background-color: blue;
color:white;

}

.sekil1{ 
    margin-left: 590px;
    width: 30px;

}
.sekil2{
    width: 30px;
    margin-left: 25px; 
}
.sekil3{
    width: 30px; 
    margin-left: 30px;
}

