th,td{
    border: 1px solid black;
padding: 20px;
font-size: 2rem;
}
.list1 li{

    list-style: square;
}
.list2 li{
    list-style:circle
}
.list3 li{
    list-style-type:lower-alpha ;
}
.list4 li{
list-style-type: upper-roman;
}
.bayraq{
height: 300px;
width: 750px;
border: 3px solid black;
font-size: 100px;
cursor: pointer;
margin-left: 100px;

text-align: center;
margin-top: 150px;
color: brown;
}
.bayraq:hover{
background-image: linear-gradient(blue,red, green);
    color: maroon;
}
.HTML{
    cursor: pointer;
margin-top: 150px;
color: red;
border: 3px solid blue;
font-size: 5rem;
background-position: center;
}
.HTML:hover{
    background-image: linear-gradient(blue,red,green);
color: white;

}

.cemil{
background-color: red;
text-align: center;
color: darkblue;
}
nav ul{
list-style: none;
text-align: center;
}
.ders li{
display: inline;

}

